body { 
  padding-top: 65px; 
  font-size: 16px;
  padding-bottom: 40px;

}

.form-resetpassword {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-resetpassword .form-resetpassword-heading {
  margin-bottom: 10px;
}

.form-resetpassword .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-resetpassword .form-control:focus {
  z-index: 2;
}

.form-changereset input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
