<!DOCTYPE html>
<html lang="en">
  <head>
	<title><%= title %></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/changepassword.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><img src="assets/images/logo.png"><%= title %></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.username %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                   <li><a href="#">Profile</a></li>
                   <li><a href="/logout">Sign Out</a></li>
                </ul>
             </li>
           </ul>
        </div>
      </div>
    </div>
	<div class="container">
		<form class="form-changepassword" action="/changepassword" method="post">
			<h2 class="form-changepassword-heading">Password</h2>
			<input type="password" class="form-control" placeholder="Current Password" name="password" required>
			<input type="password" class="form-control" placeholder="New Password" name="password1" required>
			<input type="password" class="form-control" placeholder="New Password" name="password2" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
		</form>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
 
  </body>
</html>
