<!DOCTYPE html>
<html lang="en">
  <head>
	<title><%= title %></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/login.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
		  <a href="../" class="navbar-brand"><img src="/assets/images/logo.png"><%= title %></a>
        </div>
      </div>
    </div>	
	<div class="container">
		<form class="form-signin" action="/login" method="post">
			<h2 class="form-signin-heading">Sign In</h2>
			<input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
			<input type="password" class="form-control" placeholder="Password" name="password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
		</form>
		<div class="signupbutton">
			<a href="/signup" class="btn btn-primary btn-lg btn-block" role="button">Create an account</a>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
 
  </body>
</html>
